<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing_details</title>
</head>
<body>
<center>

  <h1>{{item.name}}</h1>
  <img src="{{item.image.url}}" alt="" width="400" height="400">
  <p>Бренд: {{ item.brand }}</p>
  <p>Цена: {{ item.price }}</p>
  <p>Цвет: {{ item.color }}</p>
  <p>Размер: {{ item.size }}</p>
  <p>Категория: {{ item.category }}</p>
  <p>Материал: {{ item.material }}</p>
    <button> <a href="/clothing_details.html/{{iten_id}/delete/">Удалить</a></button>
    <button> <a href="/clothing_details.html/{{iten_id}/update/">Редактевировать</a></button>
  {% for i in item_id.comment_object.all %}
  <h1>{{i.text}}</h1>
  <p>{{i.created_at}}</p>
  <br><br><br>
  {% endfor %}
</center>
</body>
</html>